<div class="container mb-5">
    <div class="row  ">
        <div class="col-md-6 m-auto form_container bg-light">
            <div class=" blog_bg_lightgreen title pt-2" style="font-family: Montserrat, sans-serif">Sign Up</div>
           <!-- <h6 style="color:red; text-align:center; margin-bottom:2%">{{loginerror}}</h6> -->
            <form #userForm="ngForm" (ngSubmit)="onSubmit()" class="mt-3" >
                <div class="form-group">
                    <label >Your Name</label>
                    <input type="text" class="form-control" #name="ngModel" [class.is-invalid]=" name.invalid && name.touched" required
                    class="form-control " [(ngModel)]=" signupModel.name"  name="name" placeholder="Enter Name">
                     <small [class.d-none]="name.valid || name.untouched" class="text-danger">Name is required</small>

                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label >Email</label>
                      <input type="email" name="email" #email="ngModel" [class.is-invalid]=" email.invalid && email.touched" required
                      class="form-control " [(ngModel)]=" signupModel.email" 
                       placeholder="Email">
                       <small [class.d-none]="email.valid || email.untouched" class="text-danger">email is required</small>

                    </div>
                    <div class="form-group col-md-6">
                      <label >Password</label>
                      <input type="password"  #password="ngModel" [class.is-invalid]="password.invalid && password.touched"
                      required class="form-control" pattern="^.{8,20}$" [(ngModel)]=" signupModel.password"  name="password" 
                      placeholder="Password">
                      <div *ngIf="password.errors && (password.invalid || password.touched)">
                        <small class="text-danger" *ngIf="password.errors.required && password.touched">Phone number is
                          required</small>
                        <small class="text-danger" *ngIf="password.errors.pattern && password.touched">password must be from 8 to 20
                          digits</small>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">

                    <label >Choose an image</label>
                    <input type="file"  class="form-control-file" (change)="fileChangeEvent($event)" />
                  <div *ngIf="toggler">
                    <h5>Crop Image</h5>
                    <image-cropper 
                    [imageChangedEvent]="imageChangedEvent" 
                    [maintainAspectRatio]="true" 
                    [aspectRatio]="4 / 4"
                    [resizeToWidth]="256" 
                    format="png" 
                    (imageCropped)="imageCropped($event)" 
                    (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()" 
                    (loadImageFailed)="loadImageFailed()"></image-cropper>
                    <div class="text-center col-md-4">
                      <h5 style="text-align: left;">Preview</h5>
                      <img [src]="croppedImage" />       
                               </div>
                  </div>
                  
                </div>
                
                 
                  <div class="form-group">
                    <label >Choose Your Country</label>
                    <select (blur)="Validatecountry(country.value)" (change)="Validatecountry(country.value)"
                    class="custom-select" [class.is-invalid]="countryHasErr && country.touched" required
                    #country="ngModel" [(ngModel)]="signupModel.country" name="country" >
                    <option value="default" >countries</option>

                        <option *ngFor="let product of products">{{product.name}}</option>
                      </select>  
                      <small class="text-danger" [class.d-none]="!countryHasErr || country.untouched">
                        Please choose a charity name</small>              
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                            <label >Your Phone</label>
                            <input type="text" class="form-control" pattern="^.{11,14}$" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched"
                            required class="form-control" name="phone" [(ngModel)]=" signupModel.phone"   placeholder="Enter Your Phone">
                            <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                              <small class="text-danger" *ngIf="phone.errors.required && phone.touched">Phone number is
                                required</small>
                              <small class="text-danger" *ngIf="phone.errors.pattern && phone.touched">phone must be from 11 to 14
                                digits</small>
                            </div>
                          </div>
                        <div class="form-group col-md-6">
                            <label >Your Age</label>
                            <input type="text" class="form-control" name="Age" pattern="^[0-9]{2}$"  #Age="ngModel" [class.is-invalid]="Age.invalid && Age.touched"
                            required  [(ngModel)]=" signupModel.Age" placeholder="Enter Your Age">
                            <div *ngIf="Age.errors && (Age.invalid || Age.touched)">
                              <small class="text-danger" *ngIf="Age.errors.required && Age.touched">Age is
                                required</small>
                              <small class="text-danger" *ngIf="Age.errors.pattern && Age.touched">Age must be 2 numbers
                               </small>
                            </div>
                          </div>
                      </div>
                      <div class="mb-3">
                        <label for="validationTextarea">About Me</label>
                        <textarea class="form-control " name="About" #About="ngModel" [(ngModel)]=" signupModel.About" placeholder="About Me" required></textarea>
                        
                      </div>
                     
                <button type="submit"  [disabled]="userForm.form.invalid" class="btn blog_bg_pink mt-4 mb-2 float-left"><a  class="blog_btn blog_bg_pink cookie_btn">Create account</a></button>
              </form>
            
              
        </div>
    </div>
    </div>