  <div class="row">
    <div class="col-md-5">
<div class="alert alert-success" *ngIf="onsuccess"> 
<div>
  <i class="fas fa-times float-right" (click)="hidesuccess()"></i>
  <strong>Success</strong>
  <label>Your New Admin has been added successfully</label>
</div>
<div style="clear: both;"></div>
</div>
     
<div class="alert alert-danger" *ngIf="onfail" > 
  <div>
    <i class="fas fa-times float-right" (click)="hidefail()"></i>
    <strong>Failed</strong>
    <label>Something went wrong , Please Try again Later</label>
  </div>
  <div style="clear: both;"></div>
  </div>
    </div>
  </div>
 

<div class="container-fluid main_container">

<div class="row ">
    <div class="col-md-6 m-auto bg-light form_container">
        <div class=" blog_bg_lightgreen title pt-2 pb-2" style="font-family: Montserrat, sans-serif">Add Admin</div>

        <form #adminForm="ngForm"   (ngSubmit)="onSubmit(adminForm)" novalidate>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" #email="ngModel" [class.is-invalid]=" email.invalid && email.touched" required
              class="form-control " [(ngModel)]=" admin.email" placeholder="Email" name="email">
              <small [class.d-none]="email.valid || email.untouched" class="text-danger">email is required</small>

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" #password="ngModel" pattern="^.{8,20}$" [class.is-invalid]="password.invalid && password.touched"
              required class="form-control" [(ngModel)]=" admin.password" placeholder="Password" name="password">
              <div *ngIf="password.errors && (password.invalid || password.touched)">
                <small class="text-danger" *ngIf="password.errors.required && password.touched">Password is
                  required</small>
                <small class="text-danger" *ngIf="password.errors.pattern && password.touched">password must be from 8 to 20
                  digits</small>
              </div>
            </div>
          
            <button type="submit"  [disabled]="adminForm.form.invalid" class="btn blog_bg_pink mt-4 mb-2 float-left"><a  class="blog_btn blog_bg_pink cookie_btn">Sign in</a></button>
          </form>


    </div>
</div>


</div>
