<div class="row" style="border: 1px solid rgb(231, 43, 131);">

  <div class="col-md-6  content_header header_first"  (click)="change()" [ngClass]="status ? 'light' : 'dark'">

      <a >APPROVED</a>
  </div>
  <div class="col-md-6 content_header header_second " (click)="change2()" [ngClass]="status2 ? 'light' : 'dark'">
<a >NOT APPROVED</a>
  </div>

</div>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let post of notapprovedposts">
      <th scope="row">1</th>
      <td>{{post.title}}</td>
      <td>{{post.content}}</td>
    </tr>
  
  </tbody>
</table>