<app-navbar></app-navbar>
<!-- <div *ngFor="let posts of postinterface">
        {{posts[0].post[0].img}}
</div> -->
<!-- start home -->
    <div class="home">
        <div class="row">
            <!-- start larg post -->
            <div class=" col-md-9 col-lg-9 col-xl-9 col-sm-12" >
                    <div class="background">
                        <div class="postOne " >
                            <p class="date"> <span>-Fashon</span></p>
                            <h3>Because New Fashion Do Never Follow Trends</h3>
                            <img src="../../../assets/image/nav/logo.png" alt=""> 
                            <span class="name">name</span> 
                            <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                            <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                            <p class="nextSport">Next Sport
                                <i (click)="scrollTop()" type="button" class="left fas fa-angle-left"></i>
                                <i (click)="scrollDown()" type="button" class="right fas fa-angle-right "></i>
                            </p>
                        </div>
                        <a href="">
                            <img src="../../../assets/image/home/background.jpg" alt="">
                        </a>
                    </div>
            </div>
            <!-- end larg post  -->
            <!-- start right posts for scrolling -->
            <div class="scrolling col-md-3 col-lg-3 col-xl-3 col-sm-12 "  style="max-height:770px; overflow: hidden; position: relative;left: -24px;">
                <div>
                    <div class="Sports">
                        <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                        <div class="content">
                            <p>Because New Fashion Do Never Follow Trends</p>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href="#" class="name"> <span > name</span>  </a>
                            <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                            <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="Sports">
                        <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                        <div class="content">
                            <p>Because New Fashion Do Never Follow Trends</p>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href="#" class="name"> <span > name</span>  </a>
                            <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                            <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="Sports">
                        <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                        <div class="content">
                            <p>Because New Fashion Do Never Follow Trends</p>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href="#" class="name"> <span > name</span>  </a>
                            <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                            <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="Sports">
                        <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                        <div class="content">
                            <p>Because New Fashion Do Never Follow Trends</p>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href="#" class="name"> <span > name</span>  </a>
                            <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                            <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="Sports">
                        <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                        <div class="content">
                            <p>Because New Fashion Do Never Follow Trends</p>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href="#" class="name"> <span > name</span>  </a>
                            <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                            <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end right posts for scrolling -->
        </div>
    </div>

<!-- start category -->
    <div class="category">
        <div class="row">
            <!-- start left posts -->
            <div class=" col-md-9 col-lg-9 col-sm-12 col-xl-9">
                <div class="head">
                    <h3>WORLD NEWS</h3>
                    <ul>
                        <li><a class="active" href="">All</a></li>
                        <li><a href="">Asia</a></li>
                        <li><a href="">Afica</a></li>
                        <li><a href="">South</a></li>
                        <li><a href="">Afica</a></li>
                        <li><a href="">South</a></li>
                        <i (click)="scrollTop()" type="button" class="left fas fa-angle-left"></i>
                        <i (click)="scrollDown()" type="button" class="right fas fa-angle-right "></i>
                    </ul>
                </div><br>
                <!-- start category posts -->
                <div class="row">
                    <div class=" big-post  col-lg-8 col-md-8 col-sm-12">
                        <div class="Sports">
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <div class="content">
                                <p>Because New Fashion Do Never Follow Trends</p>
                                <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <a href="#" class="name"> <span > name</span>  </a>
                                <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                            </div>
                        </div>
                    </div>
                    <!-- start tow posts -->
                    <div class=" col-lg-4 col-md-4 col-xl-4 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 ">
                            <div class="Sports">
                                <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <div class="content">
                                    <p>Because New Fashion Do Never Follow Trends</p>
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <a href="#" class="name"> <span > name</span>  </a>
                                    <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                    <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 ">
                            <div class="Sports">
                                <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <div class="content">
                                    <p>Because New Fashion Do Never Follow Trends</p>
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <a href="#" class="name"> <span > name</span>  </a>
                                    <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                    <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tow posts -->
                </div>
                <!-- start three posts -->
                <div class="row ">
                    <div class="bottom-row   col-lg-4 col-md-4 col-sm-12">
                        <div class="Sports">
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <div class="content">
                                <p>Because New Fashion Do Never Follow Trends</p>
                                <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <a href="#" class="name"> <span > name</span>  </a>
                                <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-row  col-lg-4 col-md-4 col-sm-12">
                        <div class="Sports">
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <div class="content">
                                <p>Because New Fashion Do Never Follow Trends</p>
                                <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <a href="#" class="name"> <span > name</span>  </a>
                                <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-row  col-lg-4 col-md-4 col-sm-12"> 
                        <div class="Sports">
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <div class="content">
                                <p>Because New Fashion Do Never Follow Trends</p>
                                <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <a href="#" class="name"> <span > name</span>  </a>
                                <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- start next parent div -->
                <div class="parentPosts">
                    <!-- start child one WORLD NEWS -->
                    <div class="row text-center">
                        <div class="head">
                            <h3>Sports</h3>
                            <ul>
                                <li><a class="active" href="">All</a></li>
                                <li><a href="">Asia</a></li>
                                <li><a href="">Afica</a></li>
                                <li><a href="">South</a></li>
                                <li><a href="">Afica</a></li>
                                <li><a href="">South</a></li>
                                <i (click)="scrollTop()" type="button" class="left fas fa-angle-left"></i>
                                <i (click)="scrollDown()" type="button" class="right fas fa-angle-right "></i>
                            </ul>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-12"> 
                            <div class="post">
                                <a href="" class="imgPost"><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <div class="content">
                                    <p>International champion in France</p>
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <a href="#" class="name"> <span > name</span>  </a>
                                    <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                    <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    <p class="testPost">Lorem ipsum dolor sitamet secte itur adipisicing elit sed.</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-12"> 
                            <div class="post">
                                <a href="" class="imgPost"><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <div class="content">
                                    <p>International champion in France</p>
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <a href="#" class="name"> <span > name</span>  </a>
                                    <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                    <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    <p class="testPost">Lorem ipsum dolor sitamet secte itur adipisicing elit sed.</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-12"> 
                            <div class="post">
                                <a href="" class="imgPost"><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <div class="content">
                                    <p>International champion in France</p>
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <a href="#" class="name"> <span > name</span>  </a>
                                    <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                    <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    <p class="testPost">Lorem ipsum dolor sitamet secte itur adipisicing elit sed.</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-12"> 
                            <div class="post">
                                <a href="" class="imgPost"><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <div class="content">
                                    <p>International champion in France</p>
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <a href="#" class="name"> <span > name</span>  </a>
                                    <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                    <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    <p class="testPost">Lorem ipsum dolor sitamet secte itur adipisicing elit sed.</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-12"> 
                            <div class="post">
                                <a href="" class="imgPost"><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <div class="content">
                                    <p>International champion in France</p>
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <a href="#" class="name"> <span > name</span>  </a>
                                    <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                    <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    <p class="testPost">Lorem ipsum dolor sitamet secte itur adipisicing elit sed.</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-12"> 
                            <div class="post">
                                <a href="" class="imgPost"><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                <div class="content">
                                    <p>International champion in France</p>
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <a href="#" class="name"> <span > name</span>  </a>
                                    <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                    <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    <p class="testPost">Lorem ipsum dolor sitamet secte itur adipisicing elit sed.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- end shild one  WORLD NEWS-->
                    <!-- start child tow food -->
                    <div class="food">
                        <div class="row">
                            <div class="head">
                                <h3>WORLD NEWS</h3>
                                <ul>
                                    <li><a class="active" href="">All</a></li>
                                    <li><a href="">Asia</a></li>
                                    <li><a href="">Afica</a></li>
                                    <li><a href="">South</a></li>
                                    <li><a href="">Afica</a></li>
                                    <li><a href="">South</a></li>
                                    <i (click)="scrollTop()" type="button" class="left fas fa-angle-left"></i>
                                    <i (click)="scrollDown()" type="button" class="right fas fa-angle-right "></i>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="left-post">
                                    <a href="" class="imgPost">
                                        <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                    </a>
                                    <a href="#" class="title"><h3>Office Volunteers Needed To Answer And Help</h3></a>
                                    <div class="details">
                                        <a href="" class="userLogo">
                                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                        </a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                        <p class="postContent">Lorem ipsum dolor sit amet, consectetur adiicing ielit sed do
                                             eiusmod tempor incididunt ut labore et iagna aliqua. Ut enim ad minim veniam, 
                                            quis nostrud tation ullamco laboris nisi ut aliquip ex ea commodo 
                                            equats aute irure dolor in reprehenderit.ea commodoin.</p>
                                        <button class="btn">Read More <i class="fas fa-long-arrow-alt-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="right-post">
                                    <div class="details">
                                        <a href="" class="imgPost">
                                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                        </a>
                                        <a href="#" class="title"><h3>Office Volunteers Needed To Answer And Help</h3></a>
                                        <a href="#" class="user"> <img src="../../../../../assets/image/dashboard/hero.jpg" alt=""> </a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    </div>
                                    <div class="details">
                                        <a href="" class="imgPost">
                                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                        </a>
                                        <a href="#" class="title"><h3>Office Volunteers Needed To Answer And Help</h3></a>
                                        <a href="#" class="user"> <img src="../../../../../assets/image/dashboard/hero.jpg" alt=""> </a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                        
                                    </div>
                                    <div class="details">
                                        <a href="" class="imgPost">
                                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                        </a>
                                        <a href="#" class="title"><h3>Office Volunteers Needed To Answer And Help</h3></a>
                                        <a href="#" class="user"> <img src="../../../../../assets/image/dashboard/hero.jpg" alt=""> </a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                        
                                    </div>
                                    <div class="details">
                                        <a href="" class="imgPost">
                                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                        </a>
                                        <a href="#" class="title"><h3>Office Volunteers Needed To Answer And Help</h3></a>
                                        <a href="#" class="user"> <img src="../../../../../assets/image/dashboard/hero.jpg" alt=""> </a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end child tow food -->
                    <!-- start travels -->
                    <div class="travels">
                        <div class="row">
                            <div class="head">
                                <h3>WORLD NEWS</h3>
                                <ul>
                                    <li><a class="active" href="">All</a></li>
                                    <li><a href="">Asia</a></li>
                                    <li><a href="">Afica</a></li>
                                    <li><a href="">South</a></li>
                                    <li><a href="">Afica</a></li>
                                    <li><a href="">South</a></li>
                                    <i (click)="scrollTop()" type="button" class="left fas fa-angle-left"></i>
                                    <i (click)="scrollDown()" type="button" class="right fas fa-angle-right "></i>
                                </ul>
                            </div>

                            <div class=" big-post  col-lg-8 col-md-8 col-sm-12">
                                <div class="Sports">
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <div class="content">
                                        <p>Because New Fashion Do Never Follow Trends</p>
                                        <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    </div>
                                </div>
                            </div>
                            <!-- start tow posts -->
                            <div class=" col-lg-4 col-md-4 col-xl-4 col-sm-12">
                                <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 ">
                                    <div class="Sports">
                                        <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                        <div class="content">
                                            <p>Because New Fashion Do Never Follow Trends</p>
                                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                            <a href="#" class="name"> <span > name</span>  </a>
                                            <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                            <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 ">
                                    <div class="Sports">
                                        <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                        <div class="content">
                                            <p>Because New Fashion Do Never Follow Trends</p>
                                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                            <a href="#" class="name"> <span > name</span>  </a>
                                            <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                            <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tow posts -->
                        </div>
                        <!-- start three posts -->
                        <div class="row ">
                            <div class="bottom-row   col-lg-4 col-md-4 col-sm-12">
                                <div class="Sports">
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <div class="content">
                                        <p>Because New Fashion Do Never Follow Trends</p>
                                        <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-row  col-lg-4 col-md-4 col-sm-12">
                                <div class="Sports">
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <div class="content">
                                        <p>Because New Fashion Do Never Follow Trends</p>
                                        <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-row  col-lg-4 col-md-4 col-sm-12"> 
                                <div class="Sports">
                                    <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                    <div class="content">
                                        <p>Because New Fashion Do Never Follow Trends</p>
                                        <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end travels -->
                    <!-- start TECHNOLOGY -->
                    <div class="technology">
                        <div class="row">
                            <div class="head">
                                <h3>Technology</h3>
                                <ul>
                                    <li><a class="active" href="">All</a></li>
                                    <li><a href="">Asia</a></li>
                                    <li><a href="">Afica</a></li>
                                    <li><a href="">South</a></li>
                                    <li><a href="">Afica</a></li>
                                    <li><a href="">South</a></li>
                                    <i (click)="scrollTop()" type="button" class="left fas fa-angle-left"></i>
                                    <i (click)="scrollDown()" type="button" class="right fas fa-angle-right "></i>
                                </ul>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="post">
                                    <a href="" class="imgPost">
                                        <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                    </a>
                                    <a href="#" class="title"><h3>Office Volunteers Needed To Answer And Help</h3></a>
                                    <div class="details">
                                        <a href="" class="userLogo">
                                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                        </a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                        <p class="postContent">Lorem ipsum dolor sit amet, consectetur adiicing ielit sed do
                                             eiusmod tempor incididunt ut labore et iagna aliqua. Ut enim ad minim veniam, 
                                            quis nostrud tation ullamco laboris nisi ut aliquip ex ea commodo 
                                            equats aute irure dolor in reprehenderit.ea commodoin.</p>
                                        <button class="btn">Read More <i class="fas fa-long-arrow-alt-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="post">
                                    <a href="" class="imgPost">
                                        <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                    </a>
                                    <a href="#" class="title"><h3>Office Volunteers Needed To Answer And Help</h3></a>
                                    <div class="details">
                                        <a href="" class="userLogo">
                                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                        </a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                        <p class="postContent">Lorem ipsum dolor sit amet, consectetur adiicing ielit sed do
                                             eiusmod tempor incididunt ut labore et iagna aliqua. Ut enim ad minim veniam, 
                                            quis nostrud tation ullamco laboris nisi ut aliquip ex ea commodo 
                                            equats aute irure dolor in reprehenderit.ea commodoin.</p>
                                        <button class="btn">Read More <i class="fas fa-long-arrow-alt-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="post">
                                    <a href="" class="imgPost">
                                        <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                    </a>
                                    <a href="#" class="title"><h3>Office Volunteers Needed To Answer And Help</h3></a>
                                    <div class="details">
                                        <a href="" class="userLogo">
                                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                                        </a>
                                        <a href="#" class="name"> <span > name</span>  </a>
                                        <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                        <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                                        <p class="postContent">Lorem ipsum dolor sit amet, consectetur adiicing ielit sed do
                                             eiusmod tempor incididunt ut labore et iagna aliqua. Ut enim ad minim veniam, 
                                            quis nostrud tation ullamco laboris nisi ut aliquip ex ea commodo 
                                            equats aute irure dolor in reprehenderit.ea commodoin.</p>
                                        <button class="btn">Read More <i class="fas fa-long-arrow-alt-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <!-- end parent posts -->
            </div>
            
            <!-- end col-9 row  -->
            <!-- start right bar -->
            <div class=" col-md-3 col-lg-3 col-sm-12 col-xl-3">
                <div class="right-bar">
                    <!-- connect -->
                    <div class="connect">
                        <h4>CONNECT</h4>
                        <div class="items">
                            <div class="facebook">
                                <a href="" class="icon-facebook"> <i class="fab fa-facebook-f"></i> </a>
                                <p>62.5K</p>
                                <span>Followers</span>
                            </div>
                            <div class="twitter">
                                <a href="" class="icon-twitter"><i class="fab fa-twitter "></i></a>
                                <p>62.5K</p>
                                <span>Followers</span>
                            </div>
                            <div class="youtube">
                                <a href="" class="icon-youtube"><i class="fab fa-youtube"></i></a>
                                <p>62.5K</p>
                                <span>Followers</span>
                            </div>
                            <div class="instagram">
                                <a href="" class="icon-instagram"><i class="fab fa-instagram"></i></a>
                                <p>62.5K</p>
                                <span>Followers</span>
                            </div>
                            <div class="pinterest">
                                <a href="" class="icon-pinterest"><i class="fab fa-pinterest-p"></i></a>
                                <p>62.5K</p>
                                <span>Followers</span>
                            </div>
                            <div class="rss">
                                <a href="" class="icon-rss"><i class="fas fa-rss"></i></a>
                                <p>62.5K</p>
                                <span>Followers</span>
                            </div>
                        </div>
                    </div>
                    <!-- end connect -->
                    <!-- hot -->
                    <div class="hot">
                        <h4>WHAT’S HOT</h4>
                        <div class="items">
                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                            <a href=""><h3>Does US Tax Overhaul Violate Global Trade.</h3></a>
                            <p>Sep 21,2018 <a href=""><span>-Sports</span></a></p>
                        </div>
                        <div class="items">
                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                            <a href=""><h3>Does US Tax Overhaul Violate Global Trade.</h3></a>
                            <p>Sep 21,2018 <a href=""><span>-Sports</span></a></p>
                        </div>
                        <div class="items">
                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                            <a href=""><h3>Does US Tax Overhaul Violate Global Trade.</h3></a>
                            <p>Sep 21,2018 <a href=""><span>-Sports</span></a></p>
                        </div>
                        <div class="items">
                            <img src="../../../../../assets/image/dashboard/hero.jpg" alt="">
                            <a href=""><h3>Does US Tax Overhaul Violate Global Trade.</h3></a>
                            <p>Sep 21,2018 <a href=""><span>-Sports</span></a></p>
                        </div>
                    </div>
                    <!-- end hot -->
                    <!-- news -->
                    <div class="news">
                        <h4> RECENT NEWS </h4>
                        <div class="items">
                            
                            <a href=""><h3>Does US Tax Overhaul Violate Global Trade.</h3> </a>
                            <i type="button" (click)="option()" class="fas fa-ellipsis-v"></i>
                            <div class="option" *ngIf="isOption == true ">
                                <a href=""> <p> <i class="fas fa-user-alt"></i> Profile</p></a>
                                <a href="">  <p> <i class="fas fa-pencil-alt"></i>    Edit</p></a>
                                <a href=""><p><i class="fas fa-share"></i> Share</p></a>
                            </div>
                            <br><br><br><br>
                            <p> Sep 21,2018<span>-Sports</span></p>
                        </div>
                        <div class="items">
                            
                            <a href=""><h3>Does US Tax Overhaul Violate Global Trade.</h3> </a>
                            <i type="button" class="fas fa-ellipsis-v"></i>
                            
                            <br><br><br><br>
                            <p> Sep 21,2018<span>-Sports</span></p>
                        </div>
                        
                    </div>
                    <!-- end news -->
                    <!-- instgram -->
                    <div class="instgram">
                        <h4> Instgram </h4>
                        <div class="items">
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                            <a href=""><img src="../../../../../assets/image/dashboard/hero.jpg" alt=""></a>
                        </div>
                    </div>
                     <!-- end instgram -->
                    <!-- start CATEGORIES -->
                    <div class="categories">
                        <h4> Categories </h4>
                        <div class="items">
                            <ul>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">Beauty  <span>(02)</span> </a>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">Fashion   <span>(45)</span> </a>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">LifeStyle  <span>(124)</span> </a>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">Markeup  <span>(75)</span> </a>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">Others  <span>(1,242)</span> </a>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">Travel  <span>(186)</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end CATEGORIES -->
                    <!-- start DON'T MISS -->
                    <div class="dontMiss">
                        <h4> DON'T MISS </h4>
                        <div class="items">
                            <a href="#" > <img src="../../../../../assets/image/dashboard/hero.jpg" alt=""> </a>
                            <div class="content">
                                <a href="#" class="title"><h3>Office Volunteers Needed To Answer And Help</h3></a>
                                <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                            </div>
                        </div>
                        <div class="items">
                            <a href="#" > <img src="../../../../../assets/image/dashboard/hero.jpg" alt=""> </a>
                            <div class="content">
                                <a href="#" class="title"><h3>Office Volunteers Needed To Answer And Help</h3></a>
                                <span class="like"> <a href=""><i class="fas fa-eye"></i> 15k</a></span>
                                <span class="comment"> <a href=""><i class="fas fa-comments"></i> 12</a> </span>
                            </div>
                        </div>
                    </div>
                    <!-- end DON'T MISS -->
                    <!-- start ARCHIVES -->
                    <div class="achives">
                        <h4> Achives </h4>
                        <div class="items">
                            <ul>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">Beauty  <span>(02)</span> </a>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">Fashion   <span>(45)</span> </a>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">LifeStyle  <span>(124)</span> </a>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">Markeup  <span>(75)</span> </a>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">Others  <span>(1,242)</span> </a>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-right"></i> 
                                    <a href="#">Travel  <span>(186)</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- start ARCHIVES -->
                    <!-- start subscribe -->
                    <div class="subscribe">
                        <h4> SUBSCRIBE </h4>
                        <div  class="items">
                            <form class="form-group">
                                <p>Enter Your Email To Get Notified. </p>
                                <input class="form-control" type="text" placeholder="Email Here ...">
                                <button> <i class="fas fa-paper-plane"></i> </button>
                            </form>
                        </div>
                    </div>
                    <!-- end subscribe -->
                    <!-- start ads -->
                    <div class="ads">
                        <div  class="items">
                            
                            <a href="#" > ads here  <img src="../../../../../assets/image/dashboard/hero.jpg" alt=""> </a>
                        </div>
                    </div>
                    <!-- end ads -->
                </div>
            <!-- end right bar -->
            
        </div>
        
    </div>
    
<app-header></app-header>