
 <div class="wrapper">
    <nav id="sidebar" *ngIf="togglerr">
        <div class="fixed">
            <!-- <i class="far fa-times-circle " style="color:#212529;font-size: 30px;margin-left: 85%;"></i> -->

            <div class="sidebar-header  " >
                <div class="logo ">
                    <img src="../../../../../assets/image/dashboard/logo.png" alt="">

                </div>
            </div>

            <ul class="list-unstyled components ">
                <li class="active" >
                    <a [routerLink]="['approved']" >
                        <span> <i class="fas fa-align-left"></i> Posts </span>
                        
                    </a>
                </li>

                <li>
                    <a [routerLink]="['admins']">
                        <span> <i class="fas fa-user-shield"></i> Admins </span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['users']">
                        <span> <i class="fas fa-users"></i>Users </span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['category/web']">
                        <span> <i class="fas fa-tasks"></i>categories </span>
                    </a>
                </li>

         

            </ul>
        </div>
    </nav>

    <!--regular nav-->
    <div class="main">
        <nav class="upper navbar">
            <div class="right">
                <button (click)="toggler()" style="width: 50px;height: 50px; " type="button" id="sidebarCollapse" class="btn" >
                    <i  class="fas fa-bars" style="color: #212529;font-size: 25px;"></i>    
                            </button>
                           
            </div>

            <div class="admin">
                <ul>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="#">

                                <i class="fas fa-sort-down"></i> </a>      
                    </li>
                    <li class="nav-item ">
                        
                        <a class="nav-link" href="#">
                            <div class="profile">
                                <img src="../../../../../assets/image/dashboard/hero.jpg" alt="" />
                            </div>
                        </a>
                    </li>
                   
                </ul>
            </div>
        </nav>

        <!--content-->
        <div class="content">
         
<router-outlet></router-outlet>
          
        </div>
    </div>
</div>