<div class="trainding">
  <div class="left">
    <h5> Trending News </h5>
  </div>
  <div class="content">
    <p> <i class="fas fa-bullhorn"></i> Parquet Courts on Resisting Nihilism & Why Tourism in Dubai is booming the world.</p>
  </div>
  <div class="calinder">
    <p> <i class="fas fa-calendar-alt"></i>{{todayDate | date:"medium"}} </p>
  </div>
  <div class="temperature">
    <p> <i class="fas fa-thermometer-quarter"></i>31°c , Egypt </p>
  </div>
</div>

<nav class="navbar navbar-expand-md navbar-light bg-light navbar-laravel" style="margin-bottom: 20px;">
      <a class="navbar-brand" href="#"> <img src="../../../assets/image/nav/logo.png"  alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="messages">Politic <span class="notifications">new</span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">World </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tech </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sports <span class="notifications">new</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Life style  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Fashon <span class="notifications">new</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">pages </a>
          </li>
          
          <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
              <i class="fas fa-search" aria-hidden="true"></i>
              <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
          </form>
        </ul>
        <!-- profile info  -->
        <ul class="navbar-nav ml-auto auth" *ngIf=" isLogin == true ">
          <li><a class="nav-link" (click)="option()" [routerLink]="['/posts']" routerLinkActive="router-link-active" ><img class="img-fluid"   [src]="userInfo.img" ></a></li>
            <div class="option" *ngIf="isOption == true ">
                <a href=""> <p> <i class="fas fa-user-alt"></i> Profile</p></a>
                <a href="">  <p> <i class="fas fa-pencil-alt"></i> Edit</p></a>
                <a [routerLink]="['']" (click)="Logout()"><p><i class="fas fa-share"></i> Logout </p></a>
            </div>
        </ul>
        <!-- login and register -->
        <ul class="navbar-nav ml-auto auth" *ngIf=" isLogin == false ">
          <li><a class="nav-link login" [routerLink]="['']" routerLinkActive="router-link-active" >Login</a></li>
          <li><a class="nav-link" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Register</a></li>
        </ul>
      </div>
</nav>

