<div class="header">
        <div class="row ">
            <!-- strart col one -->
            <div class=" one col-md-3 col-lg-3 col-xl-3 col-sm-12">
                <div class="logo">
                    <img src="../../../assets/image/nav/logo_footer.png" alt="">
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit etonsecti ietur adipisicing elit,
                        sed do eiusmoempior incididunt ut labore et dolore aigneia aliqua Ut enim ad minim Lorem ipseum
                        dolor sit ametonsectietur.</p>
                    <a href="#"> Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
                <div class="follow-us">
                    <span>Follow Us -</span>

                </div>
            </div>
            <!-- strart col tow -->

            <div class="tow col-md-3 col-lg-3 col-xl-3 col-sm-12">
                <h5>RECENT NEWS</h5>
                <hr>
                <div class="pro">
                    <div class="Sports">
                        <a href="">
                            <p>Does US Tax Overhaul Violate Global Trade.</p>
                        </a>
                        <img src="../../../assets/image/logo_footer.png" alt="">
                        <p class="date">Sep 21,2018 - <span>Sports</span></p>
                    </div>
                </div>
                <div class="pro">
                    <div class="Sports">
                        <a href="">
                            <p>Does US Tax Overhaul Violate Global Trade.</p>
                        </a>
                        <img src="../../../assets/image/logo_footer.png" alt="">
                        <p class="date">Sep 21,2018 - <span>Sports</span></p>
                    </div>
                </div>
                <div class="pro">
                    <div class="Sports">
                        <a href="">
                            <p>Does US Tax Overhaul Violate Global Trade.</p>
                        </a>
                        <img src="../../../assets/image/logo_footer.png" alt="">
                        <p class="date">Sep 21,2018 - <span>Sports</span></p>
                    </div>
                </div>
            </div>
            <!-- strart col three -->
            <div class=" three col-md-3 col-lg-3 col-xl-3 col-sm-12">
                <h5>POPULAR POST</h5>
                <hr>
                <div class="pro">
                    <div class="Sports1">
                        <a href="">
                            <p>Does US Tax Overhaul Violate Global Trade.</p>
                        </a>
                        <img src="../../../assets/image/nav/icon.PNG" alt="">
                        <p class="date">Sep 21,2018 - <span>Sports</span></p>
                    </div>
                </div>
                <div class="pro">
                    <div class="Sports1">
                        <a href="">
                            <p>Does US Tax Overhaul Violate Global Trade.</p>
                        </a>
                        <img src="../../../assets/image/nav/icon.PNG" alt="">
                        <p class="date">Sep 21,2018 - <span>Sports</span></p>
                    </div>
                </div>
                <div class="pro">
                    <div class="Sports1">
                        <a href="">
                            <p>Does US Tax Overhaul Violate Global Trade.</p>
                        </a>
                        <img src="../../../assets/image/nav/icon.PNG" alt="">
                        <p class="date">Sep 21,2018 - <span>Sports</span></p>
                    </div>
                </div>
            </div>
            <!-- strart col four -->
            <div class=" four col-md-3 col-lg-3 col-xl-3 col-sm-12">
                <h5>SUBSCRIBE</h5>
                <hr>
                <p>Enter Your Email To Get Notified About Our New Solutions.</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Pleas Enter Your Email"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button> <i class="fas fa-paper-plane"></i> </button>
                    </div>
                </div>
                <p>512 Margoa Center Raod, Los Angeles, California,wh1200-124</p>
                <a class="mail" href="">wlog@example.com</a>
                <p>1800-145-1547</p>
                <!-- end  pro -->
            </div>
            <!-- end col -->
        </div>
    </div>
<!-- copy Right -->
<div class="copy">
   <div class="container">
    <p>Copyright &copy; 2018 <span>Wlog</span>. All Right Reserved.</p>
    <div class="list">
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Terms Of Services </a></li>
            <li><a href="">Privacy Policy</a></li>
        </ul>
    </div>
   </div>

</div>