<div class="container  overflow-hidden  ">
                <div class="dashboard_pageContent-header bg-light " >
                    <ul class="dashboard_pageContent-nav text-center napills " id="pills-tab" role="tablist">
                    <li class="nav-link active" id="pills-post-tab" data-toggle="pill" href="#pills-posts" role="tab" aria-controls="pills-post" aria-selected="true">
                    <a [routerLink]="['category/web']" ><i class="fas fa-book-open"></i>Web development</a>
                    </li>
                    <li class="nav-link " id="pills-admins-tab" data-toggle="pill" href="#pills-admins" role="tab" aria-controls="pills-admins" aria-selected="true">
                        <a [routerLink]="['category/application development']" ><i class="fas fa-users-cog"></i>Application development</a>
                    </li>
                    <li class="nav-link" id="pills-users-tab" data-toggle="pill" href="#pills-users" role="tab" aria-controls="pills-users" aria-selected="true">
                        <a [routerLink]="['category/Miscellaneous fields']"><i class="fas fa-users"></i>Miscellaneous fields</a>
                    </li>
                   
                    <li class="nav-link" id="pills-categories-tab" data-toggle="pill" href="#pills-categories" role="tab" aria-controls="pills-categories" aria-selected="true">
                    <a [routerLink]="['category/Competitive programming']"><i class="fas fa-book"></i>Competitive programming</a>
                    </li>
                    <li class="nav-link" id="pills-massages-tab" data-toggle="pill" href="#pills-massages" role="tab" aria-controls="pills-massages" aria-selected="true">
                    <a [routerLink]="['category/Data science']"><i class="fas fa-paper-plane"></i> Data science</a>
                    </li>
                    <li class="nav-link" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="true">
                    <a [routerLink]="['category/Machine learning']"><i class="far fa-newspaper"></i> Machine learning</a>
                    </li>


                    <li class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">
                        <a [routerLink]="['category/Open source']"><i class="fa fa-pen"></i>Open source</a>
                        </li>
                    </ul>
                </div>
          
            
 
</div>
<router-outlet></router-outlet>

 
  
  