<div class="container ">
    <div class="row">
  <div class="col-md-7 m-auto">
    <button type="button" data-toggle="modal" data-target="#exampleModalScrollable" class="add_cat blog_bg_lightgreen pt-2 pb-2 mb-2">Add Sub Category</button>
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class=" blog_bg_lightgreen title pt-2 pb-1" style="font-family: Montserrat, sans-serif">Add Category</div>
  
          <form #addForm="ngForm"  (ngSubmit)="addDatascience(addForm)" novalidate>
            <div class="form-group">
              <input type="text" #name="ngModel" pattern="^.{2,15}$"
               [class.is-invalid]=" name.invalid && name.touched" required class="form-control" 
               [(ngModel)]=" Datasciencesubcat.name"  name="name" aria-describedby="emailHelp" placeholder="Enter Name">
               <div *ngIf="name.errors && (name.invalid || name.touched)">
                <small class="text-danger" *ngIf="name.errors.required && name.touched">Name is
                  required</small>
                <small class="text-danger" *ngIf="name.errors.pattern && name.touched">Name must be from 2 to 15
                  Character</small>
              </div>
            </div>
       
            <button type="button" class="btn btn-secondary mr-5" data-dismiss="modal">Close</button>
          <button type="submit" [disabled]="addForm.form.invalid" class="btn blog_bg_pink">Save changes</button>
          </form>
        </div>
    
      </div>
    </div>
  </div>
  <div *ngIf="err" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Something went Wrong</strong> Please Try Again.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
      <table class="table table-hover table-dark ">
       
        <tbody>
          <tr *ngFor="let item of Datasciencemodel ; let i = index">
            <th scope="row">{{i +1}}</th>
            <td>{{item.name}}</td>
            <td><button type="button" data-toggle="modal" [attr.href]="'#'+ item.name.slice(0, 1)" class="btn btn-primary btn-sm"> Update</button>
              <div class="modal fade" id="{{item.name.slice(0, 1)}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
             
               <div class="modal-dialog modal-dialog-centered" role="document">
                 <div class="modal-content">
                 
                   <div class="modal-body">
                     <div class=" blog_bg_lightgreen title pt-2 pb-1" style="font-family: Montserrat, sans-serif">Update Category</div>
             
                     <form #updateForm="ngForm" (ngSubmit)="onSubmit(item)"  novalidate>
                       <div class="form-group">
                         <input type="text" #name="ngModel" pattern="^.{2,15}$"
                          [class.is-invalid]=" name.invalid && name.touched" required class="form-control" 
                          [(ngModel)]=" Datasciencecat.name"  name="name" aria-describedby="emailHelp" placeholder="Enter Name">
                          <div *ngIf="name.errors && (name.invalid || name.touched)">
                           <small class="text-danger" *ngIf="name.errors.required && name.touched">Name is
                             required</small>
                           <small class="text-danger" *ngIf="name.errors.pattern && name.touched">Name must be from 2 to 15
                             Character</small>
                         </div>
                       </div>
                  
                       <button type="button" class="btn btn-secondary mr-5" data-dismiss="modal">Close</button>
                     <button type="submit" class="add_cat"  [disabled]="updateForm.form.invalid" class="btn blog_bg_pink" >Save changes</button>
                     </form>
                   </div>
                 
                 </div>
               </div>
             </div>
            
            </td>
            <td><button type="button" (click)="deleteDatascience(item)"  class="btn btn-danger btn-sm">Delete</button>
            </td>
           
  
  
          </tr>
         
        </tbody>
      </table>
  
  
   </div>
  
    </div>
  
   
  </div>
  
  
  